*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    width: 80%;
    margin: auto;
    
}
.header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 15vh;
}
.logo{
    flex: 1;
    font-family:  sans-serif;
    font-weight: bold;

}
.header ul{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
}
ul li a{
    
    display: flex;
    text-decoration: none;
    color: gray;
    font-size: 1rem;
}
#home{
    color: black;
    font-size: bold;
}
#downlond{
    
    background-color: darkblue;
    color: rgb(235, 0, 160);
    padding: .5rem 2rem;
    border-radius: 2rem;
}
#downlond:hover{
    
    border: 1px solid gray;
    background-color: rgb(253, 253, 253);
    color: gray;
    border-radius:.5rem 2rem;
}
.main-session{
    height: 85vh;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}
.main-session img{
    width: 35rem;
    height:40rem;
    border-radius: 5rem;
}
h4{
    width: 11rem ;
    color: rgb(255, 0, 0);
    padding: .4rem 1rem;
    background-color: rgba(251, 213, 0, 0.123);
    border-radius: 1rem;
    font-size: .7rem;
}
h2{
    margin-top: 1.5rem;
    color: darkblue;
    font-size: 4rem;
    font-family: sans-serif;
}
h3{
    font-size: 1.5rem;
    color:rgba(128, 128, 128, 0.786);
    font-family: sans-serif;
    font-weight: 150;
    margin-top: 1.5rem;
}
button{
    color: white;
    background-color: darkblue;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid darkblue;
}
.btn-wrapper{
    margin-top: 1.5rem;
}
button:hover{
    background-color: white;
    color: darkblue;
    cursor: pointer;
    transition: 0.5s;
}